<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                Customer
                <div class="btn-group list-button">
                    <button type="button" class="btn btn-default" ng-click="addNew()" >Add</button>
                </div>
            </div>

            <table class="table table-condensed">
                <thead>
                    <tr style="font-size:14px;">
                        <th></th>
                        <th></th>
            
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in customers" ng-class-even="table-striped" style="cursor:pointer">
                        <td>
                            <div class="btn-group">
                                <a ng-click="selectItem(item)" >Edit</a>
                            </div>
                        </td>
                        <td>
                            <div class="btn-group">
                                <a ng-click="deleteItem(item)" >Delete</a>
                            </div>
                        </td>
                            <td>{{item.name}}</td>
                            
                
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>